



@font-face{
    font-family: CookieMonster;
    src: url(cookie-monster/CookieMonster.ttf);
    font-weight: bold;
}
div1{
    background-color: lightsteelblue;
    border-style: solid;
    border-width: 2px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: CookieMonster;
    font-size: 70px;
    color: blue;
    text-align: center;
    
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.store-table{
    border: 1px solid;
    border-width: 20px;
}

td{
    border: 1px solid;
}

th{
    border: 1px solid;
}
body{
    background-color: lightslategrey;
    text-align: center;

}img{
    display: block;
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}
